// Define the parameters
params.csv_file = "/home/kothai/cq-git-sample/Internship/data/reads.csv"
params.outdir = "results"

profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${HOME}/singularity_containers/"
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }
}

process {

	
	
    // Configuration for download_reads process
    withName: download_reads {
        cpus = 2
        memory = '2 GB'
        
    }

    // Configuration for fastqc_raw process
    withName: fastqc_raw {
        container = "https://depot.galaxyproject.org/singularity/fastqc%3A0.12.1--hdfd78af_0"
        cpus = 2
        memory = '4 GB'
        time = '2h'
        
    }
}
