// Define the parameters

// Define parameters for the pipeline
params {
    // Input files and directories
    csv_file = "${projectDir}/data/reads.csv"   // Path to CSV file with sample information
    genome_fasta = "${projectDir}/data/genome.fa"   // Path to genome FASTA file
    genome_gtf = "${projectDir}/data/annotations.gtf"  // Path to GTF annotation file

    // Output directory
    outdir = "${projectDir}/results"           // Directory for pipeline outputs
}


profiles {
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "${HOME}/singularity_containers/"
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false
    }
}

process {

	
	
    // Configuration for download_reads process
    withName: download_reads {
        cpus = 2
        memory = '2 GB'
        
    }

    // Configuration for fastqc_raw process
    withName: fastqc_raw {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }
	//Configuration for Fastp
	withName: trim_reads {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }
	
	//Configuration for FASTA genome index
	withName: create_fasta_index {
        cpus = 1
        memory = '1 GB'
        time = '10m'
    }

	//Configuration for Genome Dictionary
    withName: create_genome_dict {
        cpus = 1
        memory = '2 GB'
        time = '10m'
    }

    //Configuration for star gonome index
	withName: create_star_index {
        cpus = 8
        memory = '16 GB'
        time = '2h'
    }
	
	withName: star_mapping {
        cpus = 8
        memory = '16 GB'
        time = '2h'
    }
}

timeline {
    enabled = true
    file = 'timeline.html'
	overwrite = true 
}

report {
    enabled = true
    file = 'report.html'
	overwrite = true 
}

trace {
    enabled = true
    file = 'trace.txt'
	overwrite = true 
}
